<div id="name-logo">
  <div class="row">
    <div class="medium-12 columns">
      <span id="name">
        Hong Kong Hacknights
      </span>
    </div>
  </div>
</div>
<div id="upcoming-event">
  <div class="row">
    <div class="medium-12 columns">
      <div id="event-box">
        FEBRUARY 27TH
      </div>
    </div>
  </div>
</div>
<div id="description">
  <div class="row">
    <div class="medium-12 columns">
      <div id="slogan">
        Come. Code. Collab.
      </div>
      <div id="text">
        Hong Kong Hacknights is held bi-monthly @ 
        <a href="http://platform.hk/" class="platform">PLATFORM</a>. 
        <br />
        An excuse to get together with other programmers in Hong Kong to bootstrap your projects, learn new technologies, or fix frustrating bugs. 
      </div>
    </div>
  </div>
</div>
<div id="subscribe-box">
  <%= form_for @subscriber, url: subscribers_path do |f| %>
    <div id="input-email-field">
      <div class="row">
        <div class=".medium-5 medium-centered columns">
          <div class="row">
            <div class="medium-push-2 medium-6 columns mailing-list">
              <%= f.text_field :email, placeholder: "JOIN OUR MAILING LIST", id: "mailing-list-input" %>
            </div>
            <div class="medium-pull-2 medium-2 columns mailing-list">
              <%= f.submit "Send Email", class: "postfix small button expand", id: "mailing-list-button" %>
            </div>        
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<div id="contact-form-title">
  <div class="row">
    <div class="medium-12 columns">
      Contact Us
    </div>
  </div>
</div>

<div id="contact-us-form">
  <%= form_for @message, :url => contact_path do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>            
      <%= form.label :email %>
      <%= form.text_field :email %>
      <%= form.label "Message" %>
      <%= form.text_area :body %>
      <%= form.submit 'Send', class: 'button' %>
  <% end %>
</div>

<%# Logo spans 
  <span id="H">H</span>
  <span id="h-ong">ong</span>
  <span id="K">K</span>
  <span id="k-ong">ong</span>
  <span id="h-ack">ack</span>
  <span id="k-nights">nights</span>
%>