<div id="name-logo">
  <div class="row">
    <div class="medium-12 columns">
      <span id="name">
        Hong Kong Hacknights
      </span>
    </div>
  </div>
</div>
<div id="upcoming-event">
  <div class="row">
    <div class="medium-12 columns">
      <div id="event-box">
        WED, MARCH 12TH
        <p id="event-time">7:00 - 10:30PM</p>
      </div>
    </div>
  </div>
</div>
<div id="description">
  <div class="row">
    <div class="medium-12 columns">
      <div id="slogan">
        Come. Code. Collab.
      </div>
      <div id="text">
        Hong Kong Hacknights are held bi-monthly @ 
        <a href="http://platform.hk/" class="platform">PLATFORM</a>. 
        <br />
        An excuse to get together with other programmers in Hong Kong to bootstrap your projects, learn new technologies, or fix frustrating bugs. 
      </div>
    </div>
  </div>
</div>
<div id="subscribe-box">
  <%= form_for @subscriber, url: subscribers_path do |f| %>
    <div id="input-email-field">
      <div class="row">
        <div class=".medium-5 medium-centered columns">
          <div class="row">
            <div class="medium-push-2 medium-6 columns mailing-list">
              <%= f.text_field :email, placeholder: "JOIN OUR MAILING LIST", id: "mailing-list-input" %>
            </div>
            <div class="medium-pull-2 medium-2 columns mailing-list">
              <%= f.submit "Send Email", class: "postfix small button expand", id: "mailing-list-button" %>
            </div>        
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <a href="https://www.google.com.hk/maps/place/120+Connaught+Rd+W/@22.288323,114.144226,17z/data=!3m1!4b1!4m2!3m1!1s0x3404007f86938039:0x9ce4a67937130264">
    <div class="map-frame">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1845.86357818252!2d114.14422599999999!3d22.28832300000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404007f86938039%3A0x9ce4a67937130264!2s120+Connaught+Rd+W%2C+Sai+Wan%2C+Hong+Kong!5e0!3m2!1sen!2s!4v1389589954426"></iframe>
      <div class="map-content"><br /> </div>
      <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
    </div>
  </a>

<div id="location-title">
  <div class="row">
    <div class="medium-12 columns">
      <h1>
        Join us every 2nd and 4th Thursday of the month
      </h2>
      <p id="location-detail">
        Platform Coworking + Events, 1-3/F 120 Connaught Road West, Sai Ying Pun, Hong Kong
      </p>
    </div>
  </div>
</div>


<div id="contact-form-title">
  <div class="row">
    <div class="medium-12 columns">
      Contact Us
    </div>
  </div>
</div>

<div id="contact-us-form">
  <%= form_for @message, :url => contact_path do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>            
      <%= form.label :email %>
      <%= form.text_field :email %>
      <%= form.label "Message" %>
      <%= form.text_area :body %>
      <%= form.submit 'Send', class: 'button' %>
  <% end %>
</div>

<%# Logo spans 
  <span id="H">H</span>
  <span id="h-ong">ong</span>
  <span id="K">K</span>
  <span id="k-ong">ong</span>
  <span id="h-ack">ack</span>
  <span id="k-nights">nights</span>
%>